<div class="card">
    <div class="card-body">
        <h5 class="card-title">Order Sumary</h5>
        <p class="card-text">you have {{cart.totalItemsCount}} items in your shopping cart.</p>
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of cart.items" class="list-group-item">
                {{item.quantity}} * {{ item.title}}
                <div class="float-right">
                    {{item.totalPrice | currency: 'USD':true}}
                </div>
            </li>
            <li class="list-group-item font-weight-bold">
                Total
                <div class="float-right">
                    {{cart.totalPrice | currency: 'USD': true}}
                </div>
            </li>
        </ul>
    </div>
</div>