<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <i class="fas fa-leaf"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shopping-cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
                            {{cart.totalItemsCount}}
                        </span>
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <ng-template #anonymousUser>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                </ng-template>
                <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{appUser.name}}</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                        <ng-container *ngIf="appUser.isAdmin">
                            <a class="dropdown-item" routerLink="/admin/orders">Manage Order</a>
                            <a class="dropdown-item" routerLink="/admin/products">Manager Product</a>
                        </ng-container>

                        <a class="dropdown-item" (click)="logout()">logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>