<h1>Shopping Cart</h1>
<div *ngIf="cart$ | async as cart">
    <p>
        you have {{cart.totalItemsCount}} item in your shopping cart.
        <button (click)="clearCart()" class="btn btn-light btn-sm">Clear Shopping Cart
        </button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th class="text-center" style="width: 230px">Quantity</th>
                <th class="text-right" style="width: 200px;">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <div [style.backgroundImage]="'url(' + item.imageUrl +')'" class="thumbnail"></div>
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    <app-product-quantity [product]="item" [shopping-cart]="cart">

                    </app-product-quantity>
                </td>
                <td class="text-right">
                    {{item.totalPrice | currency: 'USD': true}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th class="text-right">{{cart.totalPrice |currency: 'USD': true}}</th>
            </tr>
        </tfoot>
    </table>
    <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>

</div>