<div class="container container-body">

    <h1>Orders</h1>
    <table class="table" *ngIf="orders$">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders$ | async order">
                <td>{{ order.shipping?.name }}</td>
                <td>{{ order.datePlaced | date}}</td>
                <td>
                    <a href="#">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>