<div class="row">
    <div class="col-3">
        <app-product-filter [category]="category"></app-product-filter>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <app-product-card [product]="p" [shopping-cart]="cart"></app-product-card>
                </div>
                <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
            </ng-container>

        </div>
    </div>
</div>